<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>403 Access Denied</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container form-container">
    <h1>403 - Access Denied</h1>

    <div class="alert error">
        You do not have permission to access this page.
    </div>

    <div class="button-row">
        <a class="btn btn-primary" th:href="@{/products}">Back to Products</a>
        <a class="btn btn-delete" th:href="@{/logout}">Logout</a>
    </div>
</div>

</body>
</html>